ul,ol,li{
	margin:0;
	/* padding: 0; */
	/* list-style: none; */
}
a{
	text-decoration: none;
}

.wraper{
	margin:0 auto;
	border: 1px solid gray;
	width: 500px;
}
.top{
	height: 40px;
	/* overflow: hidden; */
}
.top a{
	float: left;
	display: block;
	width: 25%;
	height: 40px;
	line-height: 40px;
	background-color: black;
	text-align: center;
}
ol li{
	height: 40px;
	line-height: 40px;
}
ol li:hover{
	background-color: gray;
}